.container {
	margin: auto auto auto 10px;
	/* border-bottom: 0.5px solid grey; */
}

.row {
	margin: 0 0;
	text-align: center;
}

#Head {
	font-size: 25px;
	font-weight: bold;
}

#map {
	width: 100%;
	margin-top: 20px;
}

#canvas-area {
	margin-top: 20px;
}

button {
	font-size: 12px;
}

#map {
	height: 180px;
}

/* #nav_map,
#topic-area,
#pointcloud2,
#cur_map {
	display: none;
} */

.BigGrid {
	position: relative;
	text-align: center;
	float: left;
	border: 1px solid black;
	width: 700px;
	height: 500px;
	margin: 10px 10px;
}

#image-topic-form,
#setting_button {
	position: absolute;
	/* margin-top: 0;
	margin-right: 0; */
	width: 120px;
	height: 40px;
	margin: 10px auto;
}
#button-ros-master-settings {
	display: inline-block;
}

#image-topic-form > button {
	float: left;
}
